In [ ]:
# Tuples

In [10]:
my_tups=(10,20,30,40,50)
(my_tups[0])

10

In [11]:
#create a tuple
person = ("john",25,"engineer")
print(person)

('john', 25, 'engineer')

In [ ]:
# accessing tuple elements

In [3]:
# slicing  a tuple

my_tuple=(1,2,3,4,5)
slice_1=my_tuple[1:3]
slice_2=my_tuple[:4]
slice_3=my_tuple[2:]
print(slice_1)
print(slice_2)
print(slice_3)

(2, 3)
(1, 2, 3, 4)
(3, 4, 5)

In [4]:

slice_4=my_tuple[-2:-1]
print(slice_4)

(4,)

In [14]:
#q1
fruits=("apple","banana","cherry","date","canberry")
fruits[2]

'cherry'

In [16]:
#Q2
num=(10,20,30,40,40)
num[ :3]

(10, 20, 30)

In [21]:
colors=("red","blue","green","yello","purple")
colors [-1]

'purple'

In [22]:
colors[-5:-1]

('red', 'blue', 'green', 'yello')

In [5]:
my_tuple = 1,2,3
print(my_tuple)

(1, 2, 3)

In [8]:
a,b,c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [9]:
# ordered:have definate order
t = ("hello",1,20,45,50.2,(1,2))
print(t[0:2])
print(t[5])
print(t[4])

('hello', 1)
(1, 2)
50.2

In [10]:
# immutable: cannot be modified
my_tup1 = (1,2,3)
my_tup1[0] = 11

TypeError: 'tuple' object does not support item assignment

In [11]:
# heterogenous: can have multiple datatypes
my_tup2 = (1,"hello",3.14)
print(my_tup2)

(1, 'hello', 3.14)

In [12]:
#  tuple supports indexing and slicing
my_tupl = (10,20,30,40,50)
my_tupl[2]

30

In [13]:
my_tupl[1:4]

(20, 30, 40)

In [14]:
# packing and unpacking
my_tuple = 1,2,3
print(my_tuple)

(1, 2, 3)

In [15]:
a,b,c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [16]:
# nested list
list1 = [[1,2,3,4],[5,6,7,8]]
print(list1[0][0])
print(list1[1][2])

1
7

In [19]:
#4
nest_tup = (1,(2,3),(4,(5,6),7),8)
nest_tup[2][1][0]

5

In [21]:
print(nest_tup[2][1])
print(nest_tup[2])
print(nest_tup[3])

(5, 6)
(4, (5, 6), 7)
8

In [23]:
#negative indexing
my_tup11 = ("apple","banana","cherry")
print(my_tup11[-1])
print(my_tup11[-3:-1])
print(my_tup11[-3::])
print(my_tup11[::-1])# reversing

cherry
('apple', 'banana')
('apple', 'banana', 'cherry')
('cherry', 'banana', 'apple')

In [26]:
# slicing the tuple [start:end]
my_tuple11 = (1,2,3,4,5)
slice_1 = my_tuple11[1:3]
slice_2 = my_tuple11[:4]
slice_3 = my_tuple11[2: ]
print(slice_1)
print(slice_2)
print(slice_3)
print(my_tuple11[-1])

(2, 3)
(1, 2, 3, 4)
(3, 4, 5)
5

In [29]:
# converting types
fruits=("apple","banana","cherry")
type(fruits)

tuple

In [36]:
a=list(fruits)
type(a)

list

In [37]:
a.append("mango")
a

['apple', 'banana', 'cherry', 'mango']

In [38]:
b=tuple(a)
b

('apple', 'banana', 'cherry', 'mango')

In [44]:
# add elements with out changing the original
fruits=("apple","banana","cherry")
fruits_new=fruits[ :1]+("berry",)+fruits[2: ]
print(fruits_new)

('apple', 'berry', 'cherry')

In [45]:
fruits1=fruits+("date",)
print(fruits1)

('apple', 'banana', 'cherry', 'date')

In [46]:
my_tup=('a','b','c','d')
my_tup.index('c')

2

In [47]:
len(my_tup)

4

In [48]:
t = (1,2,45,6,8,8)
max(t)

45

In [49]:
t1 = ("a","b","c")
max(t1)

'c'

In [74]:
# use concatenation and add elements
fruits1 = ("apple","banana","cherry")
type(fruits1)

tuple

In [75]:
a = list(fruits1)
type(a)

list

In [76]:
a.append("mango")
a

['apple', 'banana', 'cherry', 'mango']

In [52]:
# q scores
scores = (80,76,92,85,79)
high = max(scores)
print("the highest is",high)
low = min(scores)
print("the lowest is",low)

the highest is 92
the lowest is 76

In [80]:
# using concatenation to add elements
fruits11 = ("apple","banana","cherry")
fruits1_new = fruits11[ :1] + ("dates",) + ("blueberry",) + fruits11[2: ]
print(fruits1_new)

('apple', 'dates', 'blueberry', 'cherry')

In [51]:
#q2 check whether paris is in the tuple
cities = ("new york","los angeles","paris","london","tokyo")
"paris" in cities

True

In [2]:
# loop in tuple
tup = (1,2,3,4)
for i in tup:
    print(i)

1
2
3
4

In [3]:
#count returns the number of times the item is present in the tuple

tup.count(4)

1

In [7]:
#index()
my_tup = ("apple","banana","cherry")
my_tup.index("apple")

0

In [8]:
my_tup.index("banana")

1

In [9]:
# max() returns maximum element
max(my_tup)

'cherry'

In [11]:
#min() returns minimum element
min(my_tup)

'apple'

In [12]:
min(tup)

1

In [14]:
#sum()
sum(tup)

10

In [15]:
#sorted()
tup1 = (11,10,23,9,44)
sorted(tup1)

[9, 10, 11, 23, 44]

In [16]:
tup1

(11, 10, 23, 9, 44)

In [10]:
max(tup)

4

In [18]:
#any()
t = (0,0,0)
any(t)

False

In [19]:
any(tup1)

True

In [20]:
any(tup)

True

In [21]:
#all()
t1 = (1,1,0)
t2 = (1,1,1)
all(t1)

False

In [22]:
all(t2)

True

In [23]:
#q1 print highest and lowest of scores

scores = (88,76,92,85,79)
low = min(scores)
high = max(scores)
print("the highest is",high)
print("the lowest is",low)

the highest is 92
the lowest is 76

In [24]:
#q2 check if paris is in the tuple

cities = ("new york","los angeles","paris","london","tokyo")
"paris" in cities

True

In [9]:
#q3 tuple representing the dimensions of a rectangle box containing length,breadth, height
rectangle = (1,2,3)
vol = rectangle[0] * rectangle[1] * rectangle[2]
print(vol)

6