In [ ]:
# functions in python # def function_name():

In [1]:
# adding two  numbers
def add_two():
    a=10
    b=20
    c=a+b
    print(c)

In [2]:
add_two()

30

In [3]:
def Greet():
    name = input("enter the name")
    print(f"hi {name}, welcome to the party")

In [4]:
Greet()

enter the name Nandini

hi Nandini, welcome to the party

In [6]:
# subtracting two numbers
def sub():
    x=10
    y=5
    c=x-y
    print(c)
sub()

5

In [68]:
def add(x,y):
    add = x+y
    print(add)
def sub(x,y):
    sub = x-y
    print(sub)

def mul(x,y):
    mul = x*y
    print(mul)

def div(x,y):
    div = x/y
    print(div)

add(2,3)
sub(11,5)
div(2,2)
mul(2,1)

5
6
1.0
2

In [92]:
def calculate():
    operation = input("enter operation(+,-,*,/)")
    num1 = int(input("enter the first number"))
    num2 = int(input("enter the second number"))
    if(operation=="+"):
         add = num1 + num2
         print("sum is",add)
    if(operation=="-"):
         sub = num1 - num2
         print("difference is",sub)
    if(operation=="/"):
         div = num1 / num2
         print("the division is",div)
    if(operation=="*"):
         mul = num1 * num2
         print("the product is",mul)
  

calculate()

enter operation(+,-,*,/) /
enter the first number 5
enter the second number 1

the division is 5.0

In [14]:
num = 2
for i in range(1,11):
    print(num,"x",i,"=", num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [103]:
def mul_table(num):
    for i in range(1,11):
        print(f"{num} x {i} = {num*i}")

mul_table(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [110]:
def mul_table():
    num2 = int(input("enter the number"))
    for i in range(1,11):
        print(f"{num2} x {i} =  {num2 * i}")

mul_table()

enter the number 2

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
2 x 10 =  20

In [17]:
def func1(a,b):  # passing parameters
    c = a+b
    print(c)

func1(10,20) # passing arguments

30

In [37]:
def greet1(name):
    print("HELLO", {name})

In [38]:
greet1("Nandini")

HELLO {'Nandini'}

In [41]:
# return
def fun2():
    a=10
    b=20
    c=a+b
    return c

var = fun2()
var

30

In [43]:
def func(a,b):
    c= a+b
    return c

v = func(10,20)
v

30

In [44]:
def check_even(num):
    if num%2==0:
        return "EVEN"
    return "ODD"
res = check_even(1)
res

'ODD'

In [47]:
def check_even(num):
    if num%2==0:
        return "EVEN"
    return "ODD"
res = check_even(2)
res

'EVEN'

In [49]:
# collections
def create_list():
     return[1,2,3,4]

my_list = create_list()
my_list

[1, 2, 3, 4]

In [59]:
# default values

def fun(age=18,name="Alice"):
    print(f"{name} age is {age}")

fun(20)

Alice age is 20

In [60]:
fun(22,"Raj")

Raj age is 22

In [61]:
fun()

Alice age is 18

In [63]:
def cal_area(width,length=1):
    return width*length

cal_area(5)

5

In [64]:
cal_area(2,3)

6

In [65]:
#keyword arguments
def func6(name, age, gender):
    print(f" Name is {name}, age is {age}, gender is {gender}")

func6("Ram",22,"Male")

 Name is Ram, age is 22, gender is Male

In [67]:
func6(name = "Sita", gender = "Female", age = 22)

 Name is Sita, age is 22, gender is Female