In [ ]:
# sets

In [1]:
#no duplication: unique elements in sets
lists = [1,1,1,2,2,3,4.4,4,4,5,5]
lists

[1, 1, 1, 2, 2, 3, 4.4, 4, 4, 5, 5]

In [2]:
my_set = {1,1,1,2,2,3,3.2,4,4,5,5,5,}
my_set

{1, 2, 3, 3.2, 4, 5}

In [3]:
# mutable
my_sets = {1,2,3,4}
my_sets.add(8)
my_sets

{1, 2, 3, 4, 8}

In [4]:
my_sets.remove(8)
my_sets

{1, 2, 3, 4}

In [1]:
# no indexing
my_sets = {1,2,3}
my_sets[0]

TypeError: 'set' object is not subscriptable

In [ ]:
# mutable
# sets methods

In [89]:
# add
my_sets = {1,2,3}
my_sets.add(4)
my_sets

{1, 2, 3, 4}

In [90]:
my_sets.add(1)
my_sets

{1, 2, 3, 4}

In [5]:
# update
my_sets1 = {1,2,3}
my_sets1.update([11,22,33])
my_sets1.update([4,5])
my_sets1

{1, 2, 3, 4, 5, 11, 22, 33}

In [6]:
# remove
my_sets2 = {1,2,3}
my_sets2.remove(1)
my_sets2

{2, 3}

In [7]:
my_sets2.remove(22)  #22 element is not in the set
my_sets2

KeyError: 22

In [14]:
# discard
my_sets = {1,2,3}
my_sets.discard(2)
my_sets

{1, 3}

In [15]:
my_sets.discard(22)# no error thrown
my_sets

{1, 3}

In [10]:
# pop pops random element
my_setss = {1,2,3}
a = my_setss.pop()
a

1

In [17]:
# clear() clears all the elements of the set
my_sets = {1,2,3}
my_sets.clear()
my_sets

set()

In [18]:
# union "or" "|"
set1 = {1,2,3}
set2 = {3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [20]:
# intersection "and""&"
set1 = {1,2,3}
set2 = {2,3,4}
set1.intersection(set2)

{2, 3}

In [21]:
# difference
set1 = {1,2,3,5}
set2 = {2,3,4}
set1.difference(set2)

{1, 5}

In [22]:
set2.difference(set1)

{4}

In [85]:
#symmetric differnce
set1 = {1,2,3}
set2 = {2,3,4}
result = set1.symmetric_difference(set2)
result

{1, 4}

In [27]:
# issubset()
set1 = {1,2,3}
set2 = {1,2}
set1.issubset(set2)

False

In [28]:
set2.issubset(set1)

True

In [32]:
# issuperset
set1 = {1,2,3}
set2 = {1,2}
set1.issuperset(set2)

True

In [33]:
set2.issuperset(set1)

False

In [34]:
# isdisjoint()
set1 = {1,2,3}
set2 = {4,5,6}
set1.isdisjoint(set2)

True

In [38]:
set1 = {1,2,3}
set2 = {1,2,3}
set1.isdisjoint(set2)

False

In [40]:
# copy()
set1 = {1,2,3}
set_copy = set1.copy()
set_copy

{1, 2, 3}

In [47]:
# frozen set
sets1 = {1,2,3}
sets1.add(4)
sets1

{1, 2, 3, 4}

In [50]:
a=frozenset(sets1)
a

frozenset({1, 2, 3, 4, 5})

In [51]:
a.add(5)# frozen set cannot ne modified
a

AttributeError: 'frozenset' object has no attribute 'add'

In [52]:
# python functions on sets
# len() length
m_set = {1,2,3,4}
len(m_set)

4

In [53]:
# max
max(m_set)

4

In [54]:
#min
min(m_set)

1

In [55]:
# sum
sum(m_set)

10

In [56]:
# sorted
my_set = {2,3,6,4,1}
a = sorted(my_set)

In [57]:
a

[1, 2, 3, 4, 6]

In [58]:
type(a)

list

In [60]:
# any
my_set = {0,False,None,50}
any(my_set)

True

In [61]:
# all
my_set = {1,2,3}
all(my_set)

True

In [62]:
#set() remove duplications
my_list = [1,2,2,3,3,4]
my_set = set(my_list)
my_set

{1, 2, 3, 4}

In [83]:
# with out set comprehension for even squares
numbers = [1,2,3,4,5]
for x in numbers:
    if x%2==0:
       print(x**2,end=" ")

4 16

In [63]:
#  with set comprehension 
numbers = [1,2,3,4,5]
even_square_set = {x**2 for x in numbers if x%2==0}
even_square_set

{4, 16}